RewriteEngine On

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

#RewriteEngine on
#RewriteCond %{REQUEST_URI} !maintenance.html
#RewriteCond %{REQUEST_FILENAME} !(styles|images).+$
#RewriteCond %{REMOTE_ADDR} !^144\.4\.78\.177$
#RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
#RewriteRule (.*) /maintenance.html [R,L]